    <header class="main-header">
      <a href="/img/friendshot.jpg">
        <img src="/img/headshot.png"
             alt="Do i look serious."
             width="125"
             height="125" />
      </a>
      <div>
        <h1>
          <a href="/">
            Mandeep</a>
          {% if section.title != "Home" %}
          / {{ section.title }}
          {% endif %}
          <span class="pronouns">(he/him)</span>
        </h1>
        <ul class="links">
          <li><a href="/assets/airborne-cv.pdf" class="no-highlight"><i aria-hidden="true" title="CV" class="fa fa-file-text-o"></i></a></li><li><a href="https://github.com/mandeepairborne" class="no-highlight"><i aria-hidden="true" title="GitHub" class="fa fa-github-alt"></i></a></li><li><a href="https://t.me/ingloriousmaverick" class="no-highlight"><i aria-hidden="true" title="Telegram" class="fa fa-telegram"></i></a></li>
<li><a href="https://discordapp.com/users/majorandro" class="no-highlight"><i aria-hidden="true" title="Discord" class="fab fa-discord"></i></a></li>
<li><a href="https://x.com/mandeepairborne" class="no-highlight"><i aria-hidden="true" title="Twitter" class="fa fa-twitter"></i></a></li>
<li><a href="https://LinkedIn.com/in/mandeepairborne" class="no-highlight"><i aria-hidden="true" title="LinkedIn" class="fa fa-linkedin"></i></a></li>
        </ul><p class="header__contact"><a href="mailto:mandeepjangir@proton.me">mandeepjangir [at] proton [dot] me</a></p>
        <div class="narrow">
          <span><strong>Primary area:</strong> ML in High energy physics</span>
          <span class="sep">◦</span>
          <span><strong>Secondary area:</strong> Quantum information theory</span>
        </div>
      </div>
    </header>
