{% extends "base.html" %}

{% block extra_data %}
{% set section = "Score" %}
{% endblock %}

{% block title %}
DEC 2025 CSIR-NET Score & Percentile Prediction
{% endblock %}

{% block header %}
  {% include "score-header.html" %}
{% endblock header %}

{% block content %}

<div class="input-group">
  <input type="text" id="rollNoInput" placeholder="Enter the response sheet URL to check your score">
  <button onclick="fetchDetails()">Calculate Score</button>
</div>
        
<div id="output" style="margin-top: 20px;">
  </div>
 
{% endblock content %}
